@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif;
}

.material-symbols-outlined{
    color: grey;
     font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
}


/* Navbar */
nav img{
    height: 60%;
    width: 50px;
}

nav{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
}

#header_left{
    display: flex;
    align-items: center;
    /* gap:40px; */
}

#header_left i{
    margin: 0 20px;
}

.header_search{
    width: 60vw;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_search form input{
    width: 80%;
    height: 30px;
    /* border-radius: 5px; */
    padding: 5px;
}

.header_search form i{
    border: 1px solid black;
    height: 30px;
}

.header_right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    gap: 10px;
}





/* Main Body */



main{
    display: flex;
}
.sidebar{
    position: fixed;
    width: 15vw;
}

.sidebar ul li{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 10px;
    align-items: center;
    margin: 20px 20px;
}

.sidebar ul li:hover{
    background-color: rgba(1, 1,1,0.2);
    width: 90%;
}


/* 
hr{
width: 100%;
} */

.sidebar{
    margin-top: 80px;
}


.main_content{
    background-color: #f9f9f9;
    margin-left: 15vw;
    margin-top: 80px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    margin:15px 0;
}
.card{
    width: 310px;
}

.card img{
    height: 170px;
    width: 100%;
}

.title_block{
    display: flex;
}
.title_block img{
    height: 40px;
    width: 40px;
}

